{% extends "base.html" %}
{% block content %}
<div class="container py-5">
    <h2 class="text-center mb-5">Добавить цветок</h2>
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="text" name="title" class="form-control mb-3" placeholder="Название" required>
                <select name="category" class="form-control mb-3" required>
                    <option value="">— Категория —</option>
                    {% for c in categories %}
                        <option value="{{ c.id }}">{{ c.name }}</option>
                    {% endfor %}
                </select>
                <input type="number" name="price" step="0.01" class="form-control mb-3" placeholder="Цена" required>
                <input type="number" name="stock" class="form-control mb-3" placeholder="Остаток" required>
                <textarea name="description" class="form-control mb-3" placeholder="Описание"></textarea>
                <input type="file" name="image" class="form-control mb-4">
                <button type="submit" class="btn btn-success w-100 btn-lg">Добавить цветок</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}